/* Reset de estilos para remover margens e preenchimentos padr達o */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    height: 700px;
}
.login-container {
    background-color: #fff; /* Cor de fundo do container */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Cor de fundo do bot達o */
    color: #fff; /* Cor do texto do bot達o */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Cor de fundo do bot達o ao passar o mouse */
}
